.services{
   background-color:#1d809f;;
   padding-top:120px ;
   padding-bottom: 120px;
   text-align: center;
}

.services  h3 {
    font-size: 17px;
    text-transform: uppercase;
    color: rgb(238, 184, 7);
    margin: 0px;
    padding: 0px;

}
.services h2{
    font-size: 48px;
    color: #fff;
    margin-bottom: 48px;
    margin-top: 0px;

}

.services > .row {
    display: flex;
    justify-content: space-around;
}

.services > .row  span{
    background-color: #fff;
    width: 112px;
    height: 112px;
    display:inline-block;
    color: #1d809f;
    font-size: 36px;
    border-radius: 50px;
    line-height: 120px;
}

.services > .row  span ion-icon {
    content: none;
    color: blue;
}

.services > .row h4 {
    margin-bottom: 8px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 24px;
    color: #fff;
}

.services > .row p{
    font-size: 17px;
    color: #fff;
}